[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "==2.49.0"
"boto3" = "==1.7.84"
botocore = "==1.10.84"
pyyaml = "*"
click = "*"
colorama = "*"
"jinja2" = "*"

[dev-packages]
pylint = "*"
pytest = "*"
vprof = "*"
moto = "*"
freezegun = "*"

[requires]
python_version = "3.6"
