[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
pyyaml = "*"
click = "*"
colorama = "*"
"jinja2" = "*"

[dev-packages]
pylint = "*"
pytest = "*"
vprof = "*"
moto = "*"

[requires]
python_version = "3.7"
